<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
            title Hello World
    body
        include _menu.pug

        block body

        script(src="/app.bundle.js")